﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountMain</title>
</head>
<body>
    <div>
        <h1>Welcome @Session["UserName"]!</h1><hr /><br />
        @using (Html.BeginForm("AddInvoice", "Invoice"))
        {
            <input type="submit" value="Add Invoice" />
        }
        @if ((bool)Session["Manager"])
        {
            using (Html.BeginForm("ReviewInvoices", "Invoice"))
            {
                <input type="submit" value="Review Invoice" />
            }
        }
    </div>
</body>
</html>
