﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Please Log in</h2><hr /><br/>
        @if(ViewBag.IsManager != null && !ViewBag.IsManager)
        {
            //not a manager
            <h4><font color="red">You are not a manager!</font></h4>
        }else if(ViewBag.Valid != null && !ViewBag.Valid)
        {
            //invalid password
            <h4><font color="red">Invalid Password</font></h4>
        }
        @using (Html.BeginForm("LoginAttempt", "UserAccounts"))
        {
            <p>UserName: @Html.TextBox("UserName", "")<br /> Password: @Html.Password("Password","")</p><br />
            <input type="submit" value="User Login" name="submit"/> <input type="submit" value="Manager Login" name="submit"/>
        }
    </div>
</body>
</html>
