﻿@model InvoiceManagerApplication.Models.Invoice
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEditInvoices</title>
</head>
<body>
    <div>
        <h1>Please add an Invoice</h1><hr /><br />
        @using (Html.BeginForm("ProcessInvoice", "Invoice"))
        {
            <p>Name: @Html.TextBoxFor(m => m.ClientName, "") </p>
            <p>Address: @Html.TextBoxFor(m => m.ClientAddress, "")</p>
            <p>Date of Shipment: @Html.TextBoxFor(m => m.ShipmentDate,"{0:yyyy-MM-dd}", new {  type ="Date"})</p>
            <p>Payment Due: @Html.TextBoxFor(m => m.PaymentDue,"{0:yyyy-MM-dd}",new { type ="Date"})</p>
            <p>Product Name: @Html.TextBoxFor(m => m.ProductName,"")</p>
            <p>Product Quantity: @Html.TextBoxFor(m => m.ProductQuantity, new { type = "Number", min="0",step="1" })</p>
            <p>Unit Price: @Html.TextBoxFor(m => m.UnitPrice,new { type = "Number", min="0.01", step="0.01" })</p>
            <p>Currency: @Html.DropDownListFor(m => m.CurrencyType, new SelectList(Enum.GetNames(typeof(InvoiceManagerApplication.Models.Currency))))</p>
            if (Model != null)
            {
                <p>Subtotal: $@Model.GetSubTotal().ToString("C")</p>
                <p>Taxes: $@Model.GetTaxes().ToString("C")</p>
                <p>Total: $@Model.GetTotal().ToString("C")</p>
                <p>Paid @Html.CheckBoxFor(m => m.Paid,"")</p>
                @Html.HiddenFor(m => m.InvoiceID, "");
                <input type="submit" value="Save Invoice" name="submit"/>
            } else {
                <input type="submit" value="Submit Invoice" name="submit"/>
            }
        }
    </div>
</body>
</html>
