﻿@using InvoiceManagerApplication.Models
@model IEnumerable<Invoice>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvoiceReview</title>
</head>
<body>
    @if ((bool)Session["Manager"])
    {
        <div>
            <h1>Unpaid Invoices</h1><hr /><br />
            <table>
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Name</b></td>
                    <td><b>Total</b></td>
                    <td><b>Payment Due Date</b></td>
                </tr>
                @foreach (Invoice inv in Model)
                {

                    <tr>
                        <td>@Html.ActionLink(inv.InvoiceID.ToString(),"EditInvoice","Invoice",new { invoiceID =inv.InvoiceID },null)</td>
                        <td>@Html.ActionLink(inv.ClientName, "EditInvoice", "Invoice", new { invoiceID = inv.InvoiceID }, null)</td>
                        <td>@inv.GetTotal().ToString("C")</td>
                        <td>@inv.PaymentDue.ToShortDateString()</td>
                    </tr>
                }
            </table>
            <br />
            @using (Html.BeginForm("AddInvoice", "invoice"))
            {
                <input type="submit" value="Add More Invoices" />
            }
            <hr /><br />
            <h3>@ViewBag.Total.ToString("C") is still owed</h3>
        </div>
    }else
    {
        <h1><font color="Red">YOU CAN'T BE HERE!!!!</font></h1>
    }
</body>
</html>
